* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background: url("./assets/background.svg") center center no-repeat fixed;
    background-size: cover;
    background-color: #121214;
}

/* cor usada no logo da copa #9E0C36 */

body * {
    font-family: "Roboto", sans-serif;
}

#app,
#group,
#classification,
#play-offs,
#stats {
    width: fit-content;
    margin: 52px auto;
}

header {
    margin-bottom: 63px;
    text-align: center;
}

header p {
    color: #f7dd43;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    padding: 32px 23px;
    text-align: center;
    background: #1d1c19;
    border-bottom: 2px solid #f7dd43;
    border-radius: 6px;
}

.card h2 {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;
    color: #f7dd43;
}

.card h2 span {
    color: #e1e1e6;
    font-size: 16px;
    text-transform: uppercase;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 300px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li + li {
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    color: #e1e1e6;
}

p {
    color: #e1e1e6;
}

label {
    color: #e1e1e6;
}

h3 {
    color: #f7dd43;
}

.destaque {
    color: #df0c1e;
}

h3 span {
    color: #e1e1e6;
}

li div,
.game div div {
    background-color: #121214;
    height: 50px;
    width: 40px;
    color: #b4f6b4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px; /* top right bottom left */
}

li div span,
.siglas span {
    color: #b4b4f6;
}

li img {
    cursor: pointer;
}

.scroll-day-btn {
    width: 80px;
    height: 30px;
    background-color: #121214;
    color: #b4b4f6;
    border: 2px solid #f7dd43;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.scroll-top-btn {
    width: 80px;
    height: 30px;
    background-color: #121214;
    color: #b4b4f6;
    border: 2px solid #f7dd43;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 50px;
}

.classification-btn {
    width: 150px;
    height: 30px;
    background-color: #121214;
    color: #b4b4f6;
    border: 2px solid #f7dd43;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.fases-finais-btn {
    width: 150px;
    height: 30px;
    background-color: #121214;
    color: #b4b4f6;
    border: 2px solid #f7dd43;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    left: 10px;
    bottom: 50px;
}

.stats-btn {
    width: 150px;
    height: 30px;
    background-color: #121214;
    color: #b4b4f6;
    border: 2px solid #f7dd43;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    left: 10px;
    bottom: 90px;
}

.mostrar {
    display: block;
}
.esconder {
    display: none;
}

#group .card h1,
h2 {
    color: #97000d;
    border: 2px solid #97000d;
    border-radius: 8px;
    background-color: #121214;
    margin-bottom: 24px;
    margin-top: 24px;
    cursor: pointer;
}

#group .card h2 {
    margin: 8px auto;
}

#group .card h3 {
    margin-top: 48px;
    margin-bottom: 16px;
}

#group .card ul li {
    color: #e1e1e6;
    padding: 2px;
    text-align: center;
    justify-content: center;
    margin: 0;
}

#group .card ul li + li {
    border-top: none;
}

#classification #cards h1 {
    color: #e1e1e6;
    justify-content: center;
    text-align: center;
}

table tr * {
    color: #e1e1e6;
    padding: 2px;
    width: 10px;
    height: 10px;
}

td img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#classification #cards span,
#play-offs header span {
    color: #f7dd43;
    justify-content: center;
    text-align: center;
}

.selected td img {
    border-radius: 50px;
    outline: 3px solid #48c948;
    outline-offset: -2px;
    box-sizing: content-box;
}

#classification .card {
    padding: 16px 5px;
}

#classification #cards .card h3 {
    margin-bottom: 20px;
}
.legendas * {
    text-align: left;
    justify-content: left;
    padding-left: 30px;
}

#classification header {
    margin-bottom: 15px;
    text-align: center;
}

.game .fotos img {
    cursor: pointer;
}

.fotos,
.siglas {
    display: flex;
    flex-direction: row;
}
.game div div {
    margin: 0px 5px 0px 5px; /* top right bottom left */
}

.games {
    display: flex;
    flex-direction: row;
}

.oitavas,
.final {
    gap: 6px;
}

.game {
    padding-right: 6px;
    border-right: 2px solid #f78b43;
}

.sem-borda {
    border-right: none;
}

#play-offs #cards .card h3 {
    margin-bottom: 24px;
    margin-top: 24px;
}

.quartas,
.semifinais {
    justify-content: space-around;
}
.quartas .game,
.semifinais .game {
    border-right: none;
}

.final {
    justify-content: center;
}

.btn-nav {
    width: 150px;
    height: 30px;
    background-color: #121214;
    color: #b4b4f6;
    border: 2px solid #f7dd43;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}

#stats #cards .card ul li p span {
    color: #f7dd43;
    font-weight: bolder;
    font-size: 30px;
}

#stats #cards .card ul li * {
    vertical-align: middle;
}

#stats #cards h1 {
    text-align: center;
    color: #f7dd43;
}

#stats #cards span {
    text-align: center;
    color: #e1e1e6;
}

#stats header {
    margin-bottom: 20px;
}

#stats #cards .card ul li h3 {
    color: #e1e1e6;
}

#stats #cards .card ul li div {
    background-color: #121214;
    height: 80px;
    width: 60px;
}

.oitavas .siglas div {
    padding: 10px 0px 5px 0px; /* top right bottom left */
}

.siglas div h4 {
    color: #f7dd43;
}

.siglas .cla,
.game .data p {
    color: #f78b43;
}

.game .data p span,
.siglas .sigla {
    color: #f7dd43;
}

.ganhador {
    color: #26c920 !important;
}

.empatou {
    color: #f7dd43 !important;
}

.perdedor {
    color: #e72727 !important;
}

#play-offs header h1 {
    color: #f7dd43;
    justify-content: center;
    text-align: center;
}
